/* Home : img background*/

.home-imgBg {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.9) 0,
      transparent 70%,
      rgba(0, 0, 0, 0.9)
    ),
    url("https://assets.nflxext.com/ffe/siteui/vlv3/c8c8a0ad-86d6-45f1-b21d-821afa4e5027/aa9f8cd5-1b3d-4afb-bd9d-6d653b844807/FR-fr-20220801-popsignuptwoweeks-perspective_alpha_website_medium.jpg");
  height: 100%;
  background-size: cover;
  width: 100vw;

  
}


.main{
  margin-top:100px;
}
.home-title {
  font-size: 3.05rem;
  font-weight: 600;
}
.home-subtitle {
  font-size: 1.9rem;
  font-weight: 300;
}
.email-form {
  padding: 150px 0;
}
.email-form-title {
  font-size: 1.3rem;
  font-weight: 300;
  padding: 20px 0;
}

.input-email {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  height: 62px !important;
  min-width: 450px;
  padding-left: 10px;
}
.btn-begin {
  border-bottom-left-radius: 0;
  border-left: 1px solid #333;
  border-top-left-radius: 0;
  margin: 0 !important;
  min-height: 60px;
}
.cta-btn-txt {

  padding: 0.35rem 1rem;
  text-align: center;
  font-size: 1.625rem;
  letter-spacing: 1.1px;
  font-weight: 300;
  min-height: 60px;
}
.cta-btn-txt:after {
  width: 10px;
  content: ">";
  padding-left: 0.5rem;
}