.App {  text-align: center;  font-family: "Roboto Condensed", sans-serif;}/*Utilities*/.red-bg {
  background-color: #e50914;
}
.red-color {
  color: #e50914;
}
.btn-red {
  background-color: #e50914;
  color: white;
}

/*home : header */



select {
  background: rgba(0, 0, 0, 0.4);
  border: 1px solid #aaa;
  color: #fff;
  font-size: 0.965rem;
  font-weight: 200;
  width: 130px;
  height: 35px;
  margin-right: 1rem;
}

.home-btn-login {
  font-size: 1rem;
  font-weight: 400;
  background-color: #e50914;
  color: white;
  padding: 7px 17px;
  border-radius: 3px;
  margin-right: 20px;
}



/* footer */
.footer {

  position: relative;
  bottom: 0;
  height: 400px;
  background-color: #000;
  padding: 30px;

}
.footer-title {
  color: #737373;
  text-align: left;
  margin-left: 6rem;
}
.footer-link-item {
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
  display: inline-block;
  margin-bottom: 16px;
  min-width: 100px;
  padding: 0 12px 0 0;
  vertical-align: top;
  width: 25%;
}
.footer-link {
  text-decoration: none;
  color: #737373;
  list-style-type: none;
}
.footer-link:hover {
  text-decoration: underline;
  color: #737373;
}
.languageChoice-footer {
  display: flex;
  justify-content: start;
  margin-left: 6rem;
   
}


/*step subscribe*/
.step-number{
    font-weight: bold;
}
